@page "/cart"
@inject ICartService CartService
@inject IOrderService OrderService


<PageTitle>Summary</PageTitle>
@if (cartFlights == null || cartFlights.Count == 0)
{
    <span>@message</span>
}
else if (orderPlaced)
{
    <span>Thank you for your Booking! You can check your Reservation here <a href="Reservation">here</a>.</span>
}
else
{
    <div class="container mt-2">
        <h2 class="mb-4">Summary</h2>

        @foreach (var flight in cartFlights)
        {
            <div class="card mb-4">
                <!-- Airline Logo & Flight Details -->
                <div class="row card-body align-items-center">
                    <div class="col-md-2 text-center">
                        <img src="@flight.ImageUrl" class="img-fluid flight-image" alt="@flight.Destination">
                    </div>
                    <div class="col-md-4">
                        <h5 class="card-title"><a href="/flight/@flight.FlightId" class="text-dark text-decoration-none">@flight.Destination</a></h5>
                        <span class="card-subtitle d-block mb-2 text-muted">@flight.FlightType</span>
                    </div>
                    <div class="col-md-1">
                        <input type="number" value="@flight.Quantity"
                        @onchange="@((ChangeEventArgs e) => UpdateQuantity(e, flight))"
                               class="form-control input-quantity"
                               min="1" />
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-text text-danger">$@(flight.Price * flight.Quantity)</h6>
                    </div>
                    <div class="col-md-1 text-end">
                        <button class="btn btn-danger" @onclick="@(() => RemoveFlightFromCart(flight.FlightId, flight.FlightTypeId))">Delete</button>
                    </div>
                </div>
            </div>
        }

        <!-- Cart Total & Place Order -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <h5>Total Items: @cartFlights.Count</h5>
                <h4>Total: $@cartFlights.Sum(flight => flight.Price * flight.Quantity)</h4>
            </div>
            <button @onclick="PlaceOrder" class="btn btn-success btn-lg">Place Order</button>
        </div>
    </div>

}



@code {
    List<CartFlightResponse> cartFlights = null;
    string message = "Loading your plan...";
    bool orderPlaced = false;


    protected override async Task OnInitializedAsync()
    {
        orderPlaced = false;

        await LoadCart();
    }

    private async Task RemoveFlightFromCart(int flightId, int flightTypeId)
    {
        await CartService.RemoveFlightFromCart(flightId, flightTypeId);
        await LoadCart();
    }

    private async Task LoadCart()
    {
        await CartService.GetCartItemsCount();
        cartFlights = await CartService.GetCartFlights();
        if (cartFlights == null || cartFlights.Count == 0)
        {
            message = "No chosen flight.";
        }
    }

    private async Task UpdateQuantity(ChangeEventArgs e, CartFlightResponse flight)
    {
        flight.Quantity = int.Parse(e.Value.ToString());
        if (flight.Quantity < 1)
            flight.Quantity = 1;
        await CartService.UpdateQuantity(flight);
    }

    private async Task PlaceOrder()
    {
        await OrderService.PlaceOrder();
        await CartService.GetCartItemsCount();
        orderPlaced = true;
    }
}